$blanco:#fff;
$grisclaro:#EAEAEA;
$gristexto:#666666;
$azulclaro:#0069AE;
$azuloscuro:#002438;
$negro:#000;
$kanit:'Kanit', sans-serif;
$open:'Open Sans', sans-serif;
$copper: 'copperplatebold';
$b:1rem;

@mixin textshadow($x, $y, $sr, $c){
  text-shadow:$x $y $sr $c;
}
@mixin trans($p, $t, $a){
  transition:$p $t $a;
  -webkit-transition:$p $t $a;
  -moz-transition:$p $t $a;
  -o-transition:$p $t $a;
}
@mixin br($r){
  border-radius: $r $r $r $r;
}
@mixin bs($hor, $vert, $blur, $color){
  box-shadow:$hor $vert $blur $color;
}

@import url('bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit:700,900&display=swap');
@import url('owl.carousel.min.css');
@import url('owl.theme.default.min.css');

@font-face {
    font-family: 'copperplatebold';
    src: url('../fonts/copperplate/copperplate_bold-webfont.woff2') format('woff2'),
         url('../fonts/copperplate/copperplate_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




body{
  font-size: 14px;
  font-family:$open;
}

.container{
  &.full{
    max-width:1600px;
    width:100%;
  }
  &.wide{
    max-width:900px;
    width:100%;
  }
}

.generic-button{
  font-size:$b;
  font-family:$open;
  padding:$b - 0.5 $b*3;
  text-decoration:none;
  border:none;
  display:inline-block;
  @include br(4px);
  @include trans(All, 0.1s, ease-in);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05)!important;
  &.blue{
    background:$azulclaro;
    color:$blanco;
    &:hover{
      background:$azulclaro - 15;
    }
  }
  &.white{
    color:$azulclaro;
    background:$blanco;
    &:hover{
      background:$blanco - 20;
    }
  }
  &:hover{
    transform:translateY(-3px);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.2),0 4px 6px -2px rgba(0,0,0,.3)!important;
  }
}

.site-menu{
  background:$blanco;
  min-height:75px;
  @include trans(height, 0.15s, ease-in);
  @media (max-width:767px){
    min-height:66px;
  }
  &.landing{
    img.logo-landing{
      margin:$b/2 auto;
      display:block;
      width:100px;
      height:auto;
    }
  }
  .menu-items{
    display:flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    @media (max-width:767px){
      justify-content: center;
    }
    li.item{
      text-transform: uppercase;
      list-style:none;
      a{
        display:flex;
        align-items: center;
        color:$azulclaro;
        font-weight:normal;
        margin:0;
        padding:$b;
        height:75px;
        text-decoration: none;
        font-weight:600;
        @include trans(height, 0.15s, ease-in);
        @media (max-width:767px){
          height:66px;
        }
      }
    }
  }
  p{
    text-align:center;
    margin-bottom:0;
    padding:$b*1.25;
    &.logo{
      font-size:$b*1.25;
      font-family: $copper;
      color:#004A98;
      line-height:$b*1.2;
      span.red{
        color:#F5333F;
      }
      span.green{
        color:#93D500;
      }
    }
  }
}

header.hero-header{
  background:$blanco url('https://kuiloa.mx/devs/ruizrocha/images/ruiz-rocha-asociados.jpg') no-repeat center center;
  height:calc(100vh - 150px);
  width:100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @include trans(height, 0.15s, ease-in);
  @media (max-width:767px){
    min-height:55vh;
    height:65vh;
  }
  .content{
    height:calc(100vh - 150px);
    @media (max-width:767px){
      min-height:55vh;
      height:65vh;
    }
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    .agency-logo-container{
      img.logo-ruiz-rocha{
        margin-bottom:$b*3;
        @media (max-width:767px){
          width:40vw;
        }
      }
    }
    h3{
      color:$blanco;
      font-family: $kanit;
      font-weight: 900;
      text-transform: uppercase;
      font-size: $b*5;
      line-height: $b*3.15;
      letter-spacing: 4px;
      margin-bottom:$b*1.5;
      @include textshadow(-2px, 0px, 10px, $azuloscuro);
      @include trans(All, 0.2s, ease-in);
      @media (max-width:991px){
        font-size: $b*2;
        line-height: $b*1.4;
        text-align: center;
        margin-bottom:$b;
      }
      span{
        display:block;
        &:first-child{
          padding-left: $b*4;
          @media (max-width:991px){
            padding-left:0;
          }
        }
        &:nth-child(2){
        }
        &:last-child{
          padding-left: $b*7;
          @media (max-width:991px){
            padding-left:0;
          }
        }
      }
    }
    p{
      color:$blanco;
      font-size:$b;
      font-weight:700;
      font-family:$open;
      @include textshadow(0px, 0px, 6px, $azuloscuro);
      @media (max-width:991px){
        text-align: center;
      }
    }
  }
  /*Header Servicios*/
  &.interior{
    min-height:50vh;
    height:60vh;
    width:100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @include trans(height, 0.15s, ease-in);
    @media (max-width:767px){
      min-height:50vh;
      height:60vh;
    }
    &#promomania{
      background:$blanco url('https://placehold.it/1920x800/002438/002438') no-repeat center center;
    }
    &#projects{
      background:$blanco url('https://placehold.it/1920x800/002438/002438') no-repeat center center;
    }
    &#generic-project{
      background:$blanco url('https://placehold.it/1920x800/002438/002438') no-repeat center center;
    }
    .content{
      height:60vh;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction:column;
      @media (max-width:767px){
        min-height:50vh;
        height:60vh;
      }
      .service-title{
        font-family:$copper;
        color:$blanco;
        margin-bottom:$b;
        text-align: center;
        @media (max-width: 767px){
          font-size:$b*1.1;
        }
      }
      .service-summary{
        color:$blanco;
        font-size:$b*2;
        font-family:$kanit;
        width:40vw;
        line-height:$b*1.75;
        text-align:center;
        @media (max-width:991px){
          width:95vw;
          font-size:$b;
          line-height:$b*1.5;
        }
      }
    }
    &.landing{
      min-height:50vh;
      height:60vh;
      width:100vw;
      background:$blanco url('https://kuiloa.mx/devs/ruizrocha/images/landing/header-landing.jpg') no-repeat center center;
      @media (max-width:991px){
        padding:$b*2.5 0;
        min-height:1vh;
        height: auto;
      }
      .content{
        height:60vh;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        @media (max-width:991px){
          min-height:auto;
          height:auto;
        }
        h1{
          color:$blanco;
          display: block;
          width: 100%;
          font-family:$kanit;
          @media (max-width:991px){
            text-align:center;
            font-size:$b*1.75;
          }
        }
        .formlanding{
          background:$blanco;
          padding:$b*1.5;
          box-shadow:0px 4px 12px rgba(0, 36, 56, 0.35);
          @include br(6px);
          z-index:999;
          h3.formtitle{
            color:$azuloscuro;
            font-size:$b*1.1;
            text-shadow: none;
            font-weight: bold;
            letter-spacing:0;
            text-align:center;
            line-height:1;
            margin-bottom:$b/3;
          }
          p.headline{
            color:$gristexto;
            text-shadow: none;
            font-weight:400;
            text-align: center;
            font-size:$b - 0.1;
            margin-bottom:$b*1.5;
          }
          p{
            color:$gristexto;
            text-align:center;
            text-shadow: none;
            &.logo{
              font-size:$b - 0.25;
              font-family: $copper;
              color:#004A98;
              line-height:$b*1.2;
              span.red{
                color:#F5333F;
              }
              span.green{
                color:#93D500;
              }
            }
          }
          form{
            .form-row{
              .form-group{
                margin-bottom:8px;
                label{
                  span{
                    font-size:$b - 0.3;
                    color:$azulclaro - 10;
                    display: inline-block;
                    font-weight:bold;

                  }
                }
                .form-control{
                  background:#f7f7f7;
                  border:1px solid #c8c8c8;
                }
              }
            }
          }
        }
      }
    }
  }
}

section.common{
  position:relative;
  &.min{padding:$b*4 0;}
  &.med{padding:$b*6 0;}
  &.gray{background:#f6f6f6;}
  h3.title{
    color:$azulclaro;
    font-size:$b*2;
    font-family:$kanit;
  }
  p{
    color:$gristexto;
    font-size: $b;
  }
  &.cropped-left{
    &:before{
      position:absolute;
      top:-125px;
      left:0;
      content:'';
      background:url('https://kuiloa.mx/devs/ruizrocha/images/triangle-white-left-before.png');
      max-width:1920px;
      width:100vw;
      height:125px;
      max-height:125px;
      @media (max-width:767px){
        display:none;
      }
    }
  }
  &.cropped-right{
    &:before{
      position:absolute;
      top:-125px;
      left:0;
      content:'';
      background:url('https://kuiloa.mx/devs/ruizrocha/images/triangle-white-right-before.png');
      max-width:1920px;
      width:100vw;
      height:125px;
      max-height:125px;
      @media (max-width:767px){
        display:none;
      }
    }
  }
  /*Home - Services*/
  &#main-services{
    display:flex;
    position:relative;
    &:before{
      position:absolute;
      top:-125px;
      left:0;
      content:'';
      background:url('https://kuiloa.mx/devs/ruizrocha/images/triangle-white-double-before.png');
      max-width:1920px;
      width:100vw;
      height:125px;
      max-height:125px;
    }
    h3{
      margin-bottom:$b;
    }
    p{
      margin-bottom:$b*2.5;
      &.logo{
        font-size:$b*1.25;
        font-family: $copper;
        color:#004A98;
        line-height:$b*1.2;
        span.red{
          color:#F5333F;
        }
        span.green{
          color:#93D500;
        }
      }
    }
    .services-item{
      margin:0 auto $b*2 auto;
      width:80%;
      @media (max-width:767px){
        width:95%;
      }
      a.service{
        text-decoration:none;
        display:block;
        padding:$b;
        @include br(5px);
        @include trans(All, 0.1s, ease-in);
        &:hover{
          box-shadow: 0 0px 15px 3px rgba(0,0,0,.1),0 0px 6px 2px rgba(0,0,0,.1)!important;
        }
        figure{
          margin-bottom:$b;
          img{
            @include br(50%);
          }
        }
        img{
          margin-bottom:$b*1.5;
          &.promomania{
            width:auto;
            height:20px;
          }
          &.cuartel-imagenes{
            width:auto;
            height:30px;
          }
          &.cuartel-ideotas{
            width:auto;
            height:30px;
          }
          &.capital-humano{
            width:auto;
            height:30px;
          }
          &.promoprint{
            width:auto;
            height:20px;
          }
        }
        p{
          margin-bottom:$b - 0.25;
        }
      }
    }
  }
  &#call-to-action{
    .call-to-action-maintext{
      h3{
        font-size:$b*5;
        color:$azuloscuro;
        font-family:$kanit;
        @media (max-width: 767px){
          font-size:$b*2.5;
        }
      }
    }
    .call-to-action-text{
      p{
        color:$azuloscuro;
        font-size:$b*1.25;
        font-family:$open;
        margin-bottom: 0;
      }
    }
  }
  /*Start Project*/
  &#start-proyect{
    background: -moz-linear-gradient(135deg,  rgba(0,105,174,1) 0%, rgba(0,36,56,1) 100%);
    background: -webkit-linear-gradient(135deg,  rgba(0,105,174,1) 0%,rgba(0,36,56,1) 100%);
    background: linear-gradient(135deg,  rgba(0,105,174,1) 0%,rgba(0,36,56,1) 100%);
    text-align:center;
    color:$blanco;
    h3{
      font-family:$kanit;
      font-weight:bold;
      letter-spacing:1px;
      margin-bottom:$b;
    }
    p{
      color:$blanco;
      margin-bottom:$b*3;
    }
  }
  /*Clientes*/
  &#clients{
    background:$grisclaro;
    h3{
      color:$azuloscuro;
      font-family: $kanit;
      font-size:$b*2;
      margin-bottom:$b*3;
    }
    .clients-container{
      display:grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-content: space-between;  
      column-gap:50px;
      row-gap:80px;
      @media (max-width:767px){
        column-gap:15px;
        row-gap:15px;
      }
      figure.client-item{
        margin-bottom:0;
        justify-self: center;
      }
    }
  }
  /*Projects Grid*/
  &#projects-grid-content{
    .projects-grid{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      column-gap: 30px;
      row-gap: 30px;
      @media (max-width:767px){
        grid-template-columns: 100%;
        row-gap: 15px;
      }
      .project-item{
        a{
          width:100%;
          height:100%;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          height:20vh;
          min-height:400px;
          text-decoration:none;
          display:grid;
          grid-column: auto;
          grid-template-rows: repeat(3, 1fr);
          position:relative;
          @include trans(All, 0.15s, ease-in-out);
          .project-description-container{
            grid-row: 3 / 4;
            align-self: center;
            z-index:100;
            padding:$b*2;
            h3.project-title{
              color:$blanco;
              margin-bottom:$b/2;
              font-family:$kanit;
              font-weight:700;
              position:relative;
              @include trans(All, 0.15s, ease);
              transform: translate(0px, 0px);
              -webkit-transform: translate(0px, 0px);
              -moz-transform: translate(0px, 0px);
              -o-transform: translate(0px, 0px);
              -ms-transform: translate(0px, 0px);
            }
            p.project-description{
              color:$blanco;
              font-family:$open;
              margin-bottom:0;
              position:relative;
              @include trans(All, 0.15s, ease);
              transform: translate(0px, 0px);
              -webkit-transform: translate(0px, 0px);
              -moz-transform: translate(0px, 0px);
              -o-transform: translate(0px, 0px);
              -ms-transform: translate(0px, 0px);
            }
            span.arrow{
              color:$blanco;
              opacity:0;
              position:relative;
              font-size:$b;
              @include trans(All, 0.15s, ease-in);
              transform: translate(0px, 6px);
              -webkit-transform: translate(0px, 6px);
              -moz-transform: translate(0px, 6px);
              -o-transform: translate(0px, 6px);
              -ms-transform: translate(0px, 6px);
            }
          }
          .overlay{
            z-index:10;
            position:absolute;
            bottom:0;
            left:0;
            width:100%;
            height:50%;
            background: -moz-linear-gradient(bottom,  rgba(0,36,56,1) 0%, rgba(0,36,56,0) 100%);
            background: -webkit-linear-gradient(bottom,  rgba(0,36,56,1) 0%,rgba(0,36,56,0) 100%);
            background: linear-gradient(to top,  rgba(0,36,56,1) 0%,rgba(0,36,56,0) 100%);
          }
          &#one{
            background:url('https://placehold.it/800x600/f4f4f4') no-repeat center center;
          }
          &#two{
            background:url('https://placehold.it/800x600/f4f4f4') no-repeat center center;
          }
          &#three{
            background:url('https://placehold.it/800x600/f4f4f4') no-repeat center center;
          }
          &#four{
            background:url('https://placehold.it/800x600/f4f4f4') no-repeat center center;
          }
          &#five{
            background:url('https://placehold.it/800x600/f4f4f4') no-repeat center center;
          }
          &#six{
            background:url('https://placehold.it/800x600/f4f4f4') no-repeat center center;
          }
          &:hover{
            h3.project-title{
              transform: translate(0px, -12px);
              -webkit-transform: translate(0px, -12px);
              -moz-transform: translate(0px, -12px);
              -o-transform: translate(0px, -12px);
              -ms-transform: translate(0px, -12px);
            }
            p.project-description{
              transform: translate(0px, -12px);
              -webkit-transform: translate(0px, -12px);
              -moz-transform: translate(0px, -12px);
              -o-transform: translate(0px, -12px);
              -ms-transform: translate(0px, -12px);
            }
            span.arrow{
              opacity:1;
              transform: translate(0px, 0px);
              -webkit-transform: translate(0px, 0px);
              -moz-transform: translate(0px, 0px);
              -o-transform: translate(0px, 0px);
              -ms-transform: translate(0px, 0px);
            }
          }
        }
      }
    }
  }
  /*Services Goals*/
  &.services-goals{
    background:$azulclaro;
    position:relative;
    padding-bottom:$b*5;
    &:before{
      position:absolute;
      top:-125px;
      left:0;
      content:'';
      background:url('https://kuiloa.mx/devs/ruizrocha/images/triangle-blue-left-before.png');
      max-width:1920px;
      width:100vw;
      height:125px;
      max-height:125px;
      @media (max-width:767px){
        display:none;
      }
    }
    .container.full{
      &#blurred{
        &:after{
          position:absolute;
          right:0;
          top:0;
          width:70px;
          height:70px;
          content:'';
          background: -moz-linear-gradient(left,  rgba(0,105,174,0) 0%, rgba(0,105,174,1) 100%);
          background: -webkit-linear-gradient(left,  rgba(0,105,174,0) 0%,rgba(0,105,174,1) 100%);
          background: linear-gradient(to right,  rgba(0,105,174,0) 0%,rgba(0,105,174,1) 100%);
        }
      }
    }
    .service-areas-list{
      padding:0;
      position:relative;
      &:before{
        position:absolute;
        bottom:0px;
        right:0px;
        content:'';
        width:100%;
        height:1px;
        background:rgba(255,255,255,0.15);
      }
      ul.services-areas{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        position: relative;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        @include trans(All, 0.2s, ease);
        li{
          list-style:none;
          margin:0 $b*2;
          &:last-child{
            padding-right: $b*3;
          }
          @media (max-width:767px){
            margin:0 $b*1.5;
          }
          a{
            align-items: center;
            color:$blanco;
            font-family:$kanit;
            font-size:$b - 0.1;
            letter-spacing: 1px;
            text-decoration:none;
            text-align:center;
            padding:$b*1.5 0;
            display:block;
            text-transform:uppercase;
          }
        }
      }
    }
    .services-benefits{
      padding:$b*3 0;
      h1{
        color:$blanco;
        font-family:$kanit;
        font-weight:bold;
        font-size:$b*2;
      }
      h2{
        color:$blanco;
        font-size:$b;
        font-family:$open;
        line-height:$b*1.5;
      }
    }
    .item-benefit{
      margin-bottom: $b*2;
      img{
        margin:0 auto;
      }
      h3{
        margin-top:$b*3;
        color:$blanco;
        font-size:$b;
        letter-spacing: 1px;
        font-family:$kanit;
      }
      p{
        color:$blanco;
        font-size:$b;
        font-family:$open;
      }
    }
  }
  /*Services Projects*/
  &#service-projects{
    .separator{
      margin-bottom:12vh;
    }
    .project-details{
      img{

      }
      h3{
        font-family: $kanit;
        color:$azuloscuro;
        margin-bottom:$b*1.5;
        &.right{
          text-align: right;
        }
      }
      p{
        margin-bottom:$b*2;
        &.right{
          text-align: right;
        }
      }
    }
  }
  /*Contact Form*/
  &#contactForm{
    position:relative;
    &.cropped{
      &:before{
        position:absolute;
        top:-125px;
        left:0;
        content:'';
        background:url('https://kuiloa.mx/devs/ruizrocha/images/triangle-white-left-before.png');
        max-width:1920px;
        width:100vw;
        height:125px;
        max-height:125px;
        @media (max-width:767px){
          display:none;
        }
      }
    }
    h3{
      font-family:$kanit;
      color:$azuloscuro;
      letter-spacing: 1;
      text-align:center;
    }
    p{
      text-align:center;
    }
    form{
      .form-group{
        label{
          color:$azuloscuro;
          font-weight:bold;
        }
        .form-control{
          background:#FDFDFD;
          border:1px solid #CECECE;
          &:focus{
            border:1px solid $azulclaro;
            box-shadow: 0 0 4px 0.15rem rgba(0, 105, 174, 0.2);
          }
        }
        textarea{
          resize:none;
        }
      }
    }
  }
  /*Landing*/
  &#landingProcessDesign{
    .content{
      .icon-process{
        margin-top:$b*3;
        margin-bottom:$b*2;
        background:$azulclaro;
        height:$b*4.5;
        width:$b*4.5;
        display:block;
        @include br(50%);
        position:relative;
        @media (max-width:991px){
          margin:$b*3 auto $b*2 auto; 
        }
        &.process-one{
          padding:22px 12px;
        }
        &.process-two{
          padding:10px 12px;
        }
        &.process-three{
          padding:12px 20px;
        }
        &.process-four{
          padding:12px 20px;
        }
        span{
          background:$blanco;
          @include bs(0px, 2px, 4px, rgba(102,102,102, 0.75));
          @include br(50%);
          display:block;
          height:$b*1.5;
          width:$b*1.5;
          text-align:center;
          color:$azulclaro;
          font-weight:bold;
          position:absolute;
          top:0;
          right:-5px;
        }
      }
      h4.process-title{
        color:$azuloscuro;
        font-size:$b*1.25;
        font-weight:bold;
        @media (max-width:991px){
          text-align:center;
        }
      }
      p{
        font-size:$b;
        &.process-description{
          @media (max-width:991px){
            text-align: center;
          }
        }
      }
    }
  }
  /*Competencia*/
  &#tuCompetencia{
    background:#f9f9f9;
    .container-fluid{
      padding-right:0;
      padding-left:0;
      #sketchEmpaque{
        min-height:25vh;
        height:50vh;
        background: url('https://kuiloa.mx/devs/ruizrocha/images/landing/design-packaging.jpg') no-repeat;
        background-size: cover;
        background-position:center;
      }
      .content{
        &.floated{
          padding:$b*4 $b*3;
          h4{
            font-size:$b;
            font-family:$kanit;
            letter-spacing: 1px;
            color:$azuloscuro;
          }
          .servicios-diseno{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            ul{
              width:100%;
              padding-left:0;
              li{
                width:100%;
                list-style: none;
                margin-bottom: $b/2;
                font-size:$b;
              }
            }
          }
        }
      }
    }
  }
  /*Testimonial*/
  &#testimonial{
    background:$azuloscuro;
    .content{
      h4{
        color:$blanco;
        text-align:center;
      }
      p{
        text-align:center;
        small{
          color:$blanco;
        }
      }
    }
  }
  /*Focus Group*/
  &#focusGroup{
    background:$azulclaro;
    position:relative;
    .background-focus{
      width:100%;
      height:100%;
      z-index:10;
      background:url('https://kuiloa.mx/devs/ruizrocha/images/landing/focus-group.png') no-repeat;
      position:absolute;
      background-size: 750px 750px;
      background-position:center;
      top:0;
      left:0;
      opacity:0.05;
    }
    .content{
      h3{
        color:$blanco;
        font-family:$kanit;
      }
      p{
        color:$blanco;
      }
      img{
        display:block;
        @media (max-width:767px){
          width: 75%;
          margin: 0 auto;
        }
      }
    }
  }
  /*Etiquetado*/
  &#nuevoEtiquetado{
    background: url('https://kuiloa.mx/devs/ruizrocha/images/landing/supermarket.jpg');
    background-size: cover;
    background-position:center;
    min-height:50vh;
    height:auto;
    .content{
      padding:$b*5 0;
      h3{
        text-align:center;
        color:$blanco;
        text-shadow: 0px 2px 4px rgba(0,0,0,0.6);
        font-size:$b*1.5;
      }
      ul{
        width:50%;
        margin:$b*2 auto 0 auto;
        padding-left:0;
        display:flex;
        justify-content: center;
        align-items: center;
        @media (max-width:767px){
          width:95%;
        }
        li{
          list-style: none;
          margin-right: $b;
        }
      }
    }
  }
}

/*Footer*/
footer{
  padding:$b*4 0;
  .footer-content{
    margin-bottom:$b*2.5;
    h4{
      color:$azuloscuro;
      font-family: $open;
      font-weight: bold;
      font-size:$b*1.25;
      margin-bottom: $b*1.5;
      &.contact{
        color:#AAAAAA;
      }
    }
    h5{
      color:#666666;
      font-size:$b*1.25;
      margin-bottom: $b;
    }
    p{
      color:$gristexto;
      &.logo{
        font-size:$b - 0.25;
        font-family: $copper;
        color:#004A98;
        line-height:$b*1.2;
        span.red{
          color:#F5333F;
        }
        span.green{
          color:#93D500;
        }
      }
    }
    a{
      color:$azulclaro;
      font-weight:bold;
    }
    ul{
      padding-left:0;
      margin-bottom:$b;
      li{
        list-style:none;
      }
      &.social-media{
        display:flex;
        align-items:center;
        li{
          list-style:none;
          margin:0 $b 0 0;
          a{
            width:36px;
            height:36px;
            background:$grisclaro;
            display:block;
            background:url('https://kuiloa.mx/devs/ruizrocha/images/social-media-icons.svg') no-repeat;
            background-size:200px 36px;
            @include trans(All, 0.1s, linear);
            &.facebook{
              background-position:0 0;
            }
            &.instagram{
              background-position:-55px 0;
            }
            &.twitter{
              background-position:-110px 0;
            }
            &.linkedin{
              background-position:-165px 0;
            }
            &:hover{
              transform: scale(1.2, 1.2);
              -webkit-transform: scale(1.2, 1.2);
              -moz-transform: scale(1.2, 1.2);
              -o-transform: scale(1.2, 1.2);
              -ms-transform: scale(1.2, 1.2);
            }
          }
        }
      }
      &.schedule{
        li{
          margin:$b/2 0;
          span{
            font-weight:bold;
            color:$azuloscuro;
          }
        }
      }
      &.phones{
        li{
          margin:$b/2 0;
        }
      }
    }
  }
}


/*FLOAT BUTTON*/
a.contacto-float-button{
  width:$b*4;
  height:$b*4;
  display:block;
  position:fixed;
  bottom:30px;
  right:30px;
  background:rgb(96,214,106);
  background: -moz-linear-gradient(top, rgba(96,214,106,1) 0%, rgba(32,176,56,1) 100%);
  background: -webkit-linear-gradient(top, rgba(96,214,106,1) 0%,rgba(32,176,56,1) 100%);
  background: linear-gradient(to bottom, rgba(96,214,106,1) 0%,rgba(32,176,56,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60d66a', endColorstr='#20b038',GradientType=0);
  overflow:hidden;
  border-radius:50%;
  box-shadow:-2px 3px 8px rgba(130, 130, 130, 0.5);
  z-index:999;
  transition: all ease-in 0.1s;
  cursor:pointer;
  &:hover{
    transform: scale(1.1, 1.1);
    box-shadow:0px 2px 6px rgba(100, 100, 100, 0.75);
  }
  .interior{
    display:block;
    width:100%;
    height:100%;
    background:url('https://kuiloa.mx/devs/ruizrocha/images/whatsapp-logo.png') no-repeat;
    background-size:$b*2.5 $b*2.5;
    background-position: center center;
  }
}
