<!DOCTYPE html>
<html lang="es_MX">
<head>
<title>Cuartel General de Imagenes</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="author" content="Kuiloa">

<!--FB-->
<meta property="og:title" content=""/>
<meta property="og:type" content="website"/>
<meta property="og:url" content=""/>
<meta property="og:image" content=""/>
<meta property="og:description" content=""/>
<meta property="og:site_name" content=""/>
<meta property="og:locale" content="es_MX"/>
<meta property="article:author" content="https://www.facebook.com/kuiloa">
<meta property="article:publisher" content="https://www.facebook.com/kuiloa">

<!-- FAVICONS -->
<link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
<link rel="manifest" href="images/favicons/site.webmanifest">
<link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="images/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#0069ae">
<meta name="msapplication-config" content="images/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
		
<!-- CSS -->
<link href="css/style.css" rel="stylesheet">

<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>


// Nav
nav.site-menu#site-menu
	.container.full
		ul.menu-items
			li.item
				a(href="index.html") Inicio
			li.item
				a(href="proyectos.html") Proyectos
			li.item
				a(href="contacto.html") Contacto
|
|
// Hero
header.hero-header.interior#promomania 
	.container
		.content
			h4.service-title CUARTEL GENERAL DE IMAGENES
			h5.service-summary Lorem ipsum dolor sit amet, consectetur adipisicing elit.
|
|
//Services Goals
section.common.services-goals#promomania
	.container.full#blurred
		.row
			.col-12
				.service-areas-list
					ul.services-areas
						li
							a(href="#") Multimedia
						li
							a(href="#") Websites
						li
							a(href="#") Redes Sociales
						li
							a(href="#") Escaparates y ambientación 
						li
							a(href="#") Stands
						li
							a(href="#") Identidad de Marca
						li
							a(href="#") Diseño Editorial
						li
							a(href="#") Desarrollo de Apps
						li
							a(href="#") Diseño de Empaque
	.container
		.row
			.col-12
				.services-benefits
					h1 Los Servicios
					h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	.container
		.row
			.col-md-3
				.item-benefit
					img(src='https://placehold.it/150x150/fff/fff')
					h3 Experiencia
					p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.col-md-3
				.item-benefit
					img(src='https://placehold.it/150x150/fff/fff')
					h3 Comprometidos
					p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.col-md-3
				.item-benefit
					img(src='https://placehold.it/150x150/fff/fff')
					h3 A tiempo
					p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.col-md-3
				.item-benefit
					img(src='https://placehold.it/150x150/fff/fff')
					h3 En cualquier lugar
					p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
|
|
// Projects
section.common.med#service-projects
	.container
		.row.align-items-center.separator
			.col-md-5.offset-md-1
				.project-details
					h3 Nombre del Proyecto
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.
					p 
						a.generic-button.blue(href='#') VER PROYECTO
			.col-md-6
				.project-details
					figure
						img.img-fluid(src='https://placehold.it/700x400/eaeaea/eaeaea')
			
		|
		|
		.row.align-items-center.separator
			.col-md-6
				.project-details
					figure
						img.img-fluid(src='https://placehold.it/700x400/eaeaea/eaeaea')
			.col-md-4.offset-md-1
				.project-details
					h3.right Nombre del Proyecto
					p.right Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.
					p.right 
						a.generic-button.blue(href='#') VER PROYECTO
		|
		|
		.row.align-items-center.separator
			.col-md-5.offset-md-2
				.project-details
					h3 Nombre del Proyecto
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.
					p 
						a.generic-button.blue(href='#') VER PROYECTO
			.col-md-4
				.project-details
					figure
						img.img-fluid(src='https://placehold.it/400x400/eaeaea/eaeaea')
		|
		|
		.row.align-items-center.separator
			.col-md-6.offset-md-1
				.project-details
					figure
						img.img-fluid(src='https://placehold.it/700x400/eaeaea/eaeaea')
			.col-md-5
				.project-details
					h3.right Nombre del Proyecto
					p.right Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.
					p.right
						a.generic-button.blue(href='#') VER PROYECTO
			
					
|
|
|
// Start Project
section.common.med#start-proyect
	.container
		.row
			.col-md-12
				.content
					h3 ¿Listo para iniciar tu proyecto?
					p Habla con alguno de nuestros ejecutivos y conoce todo lo que podemos hacer.
					a.generic-button.white.block(href='#') HABLEMOS
|
|
// Footer
footer
	.container
		.row.justify-content-center
			.col-md-4
				.footer-content
					h4 Ruiz Rocha & Asociados
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
					ul.social-media
						li
							a.facebook(href="https://www.facebook.com")
						li
							a.instagram(href="https://www.instagram.com")
						li
							a.twitter(href="https://www.twitter.com")
						li
							a.linkedin(href="https://www.linkedin.com")
			.col-md-4
				.footer-content
					h4.contact Contáctanos
					ul.schedule
						li 9am a 7pm de 
							span Lunes a Jueves 
						li 9am a 3pm
							span 
							| Viernes 

					h5 Oficina
					p Av. Veracruz 105, Colonia Condesa, Cuauhtémoc, C.P.06140 Ciudad de México, CDMX
			.col-md-4.align-self-end
				.footer-content
					p
						a(href="mailto:hello@ruizrocha.com.mx") hello@ruizrocha.com.mx

					h5 Teléfonos
					ul.phones
						li
							a(href="tel:5555124521") (55) 5512-4521
						li
							a(href="tel:5545217894") (55) 4521-7894
						li
							a(href="tel:5534678712") (55) 3467-8712


|
|
|
</body>
</html>